hiddenOne {
    display: none;
}
.site-footer
{
  padding:65px 100px;
  font-size:15px;
  line-height:24px;
  color:white;
  text-align: center;
}
.site-footer p
{text-align: center;
}
.site-footer h6
{
  color:white;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
  font-weight:bolder;
  text-align:center;
  
}

.footer-links a:hover
{
  color:black;
  font-weight: bolder;
}






